page-home {
    text-align: center;

    .headerContainer > ion-icon{
        display: none;
    }

    p{
        padding-top : 2vh;
    }

    .divider{
        height: 1px;
        width: 50%;
        margin-left: 25%;
        margin-top : 5vh;
        margin-bottom : 5vh;
        background-color : #aaa;

    }

    .button{
        background-color : map-get($colors, listooPink) !important;
    }

    #fbBtn{
        background-color : #3A559F !important;
        margin-top : 5vh;
    }
}
